* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;

}

body {
    background: repeating-radial-gradient(#030A1C, #051024, #061831);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(9, 9, 59);
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style-type: none;
    margin: 5px 23px;
    cursor: pointer;
}

nav ul li a {
    text-decoration: none;
    color: blueviolet;
}

nav ul li a:hover {
    font-style:oblique;
    color: whitesmoke;
}

.nav1 {
    font-size: 1.7rem;
    color: white;
}

main hr {
    border: 0;
    background: #9c97f1;
    height: 1.2px;
    margin: 40px 84px;
}

.left {
    font-size: 1.5rem;
}

.first {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 90px 0;
}

.first>div {
    width: 30%
}

.leftSection {
    width: 50%;
    font-size: 2.5rem;
}

.leftSection .buttons {
    padding: 14px 0;

}

.leftSection .btn {
    padding: 6px;
    background-color: rgb(64, 79, 127);
    color: white;
    border: 2px solid white;
    border-radius: 0 10px 10px;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.leftSection .btn:hover {
    background-color: rgb(182, 179, 179);
    color: rgb(78, 76, 76);
    font-size: 0.97rem;
}

.rightSection {
    width: 50%;
}

.rightSection img {
    width: 80%;
    margin: 50px 0;
    filter: drop-shadow(1px 1px 20px white);
}

.purple {
    color: rgb(202, 136, 241);
}

#element {
    color: rgb(145, 206, 235);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.second {
    height: 100vh;
}

.slide2 {
    animation: display 0.5s ease-out forwards;
}

@keyframes display {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide1 {
    animation: texts 0.5s ease-in-out forwards;
}

@keyframes texts {
    from {
        transform: translateX(-20%);
        opacity: 0;
    }

    to {
        transform: translateX(10%);
        opacity: 1;
    }
}

.animateShow {
    animation: fadeIn 0.7s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.second h1 {
    padding: 20px 50px;
    text-align: center;
    background-color: rgb(11, 44, 104);
    border-radius: 19px;
}

.box {
    padding: 20px 50px;
    display: flex;

}

.box1 {
    padding: 15px;
    border: 2px solid rgb(71, 71, 105);
    padding-right: 2px;
    border-radius: 8px 0;
    position: relative;
    top: 10px;
    left: 100px;
    background-color: #1c2750;
}

.box2 {
    padding: 15px;
    border-radius: 8px 0;
    border: 2px solid rgb(71, 71, 105);
    position: relative;
    top: 200px;
    left: 200px;
    background-color: #1c2750;
}

.box3 {
    padding: 15px;
    border: 2px solid rgb(71, 71, 105);
    border-radius: 8px 0;
    position: relative;
    top: 380px;
    left: 300px;
    background-color: #1c2750;
}

.topic1,
.topic2,
.topic3 {
    color: crimson;
    padding: 10px 10px 20px 10px;
}

.t1-desc,
.t2-desc,
.t3-desc {
    width: 20vw;
    font-size: 0.95rem;
    color: rgb(244, 206, 206);
}

.autoshow {
    animation: text-appear both;
    animation-timeline: view();
}

@keyframes text-appear {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.third {
    height: 100vh;
}

.third h1 {
    padding: 20px 50px;
    text-align: center;
    background-color: rgb(11, 44, 104);
    border-radius: 19px;
}

.third p {
    text-align: center;
    font-size: 1.072rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;

}

.form input {
    width: 340px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.p1 {
    font-size: 0.9rem;
    margin-left: 7px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    border-radius: 15px;
    margin: 135px 550px;
    box-shadow: 1px 1px 15px white;
    background-color: rgb(2, 2, 57);
    padding: 30px 0 30px 0;
}

.container hr {
    margin: 15px 30px;
}

.icons {
    font-size: 2rem;
    margin-left: 145px;
    margin-top: 5px;
}

.icons .fa-facebook {
    color: #1877F2;
}

.icons .fa-square-instagram {
    background: linear-gradient(#515BD4, #8134AF, #DD2A7B, #FEDA77, #F58529);
    border-radius:5px;
    margin:0 2px;
}

.icons .fa-linkedin {
    color: #0077B5;
}

.form .btn {
    padding: 5px 10px;
    border-radius: 15px;
    margin-left: 100px;
    width: 150px;
    background-color: #bfbce4;
    cursor: pointer;
    color: rgb(14, 14, 14);
}

.fourth {
    height: 100vh;
}

.fourth h1 {
    padding: 20px 50px;
    text-align: center;
    background-color: rgb(11, 44, 104);
    border-radius: 19px;
}

.skill {
    box-shadow: 1px 1px 15px white;
    border-radius: 15px;
    margin: 131px 550px 0 550px;
    padding: 30px 0 30px 0;
    background: repeating-radial-gradient(#000B18, #00172D, #00264D, #000B18);
}

.skill p {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.skill-name {
    margin: 20px 0 20px 20px;
}

#h51,
#h52,
#h53 {
    margin: 10px 10px 20px 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.skill hr {
    margin: 15px 30px;
}

.skill-amount .skill-amounthtml {
    height: 8px;
    width: 270px;
    border-radius: 6px;
    margin-top: 6px;
    background-color: white;
    position: relative;
    top: 27px;
    display: flex;
}

.skill-section .skill-amountcss {
    height: 8px;
    width: 270px;
    border-radius: 6px;
    margin-top: 6px;
    background-color: white;
    position: relative;
    top: 51px;
}

.skill-section .skill-amountjs {
    height: 8px;
    width: 270px;
    border-radius: 6px;
    margin-top: 6px;
    background-color: white;
    position: relative;
    top: 73px;
}

.skill-section .skill-amount1 {
    position: relative;
    display: block;
    height: 100%;
    width: 70%;
    border-radius: 6px;
    background: #d7e632;
    font-size: 10px;
}

.skill-section .skill-amount2 {
    position: relative;
    left: 0;
    display: block;
    height: 100%;
    width: 60%;
    border-radius: 6px;
    background: #ea0e0e;
    font-size: 10px;
}

.skill-section .skill-amount3 {
    position: relative;
    display: block;
    height: 100%;
    width: 40%;
    border-radius: 6px;
    font-size: 10px;
    background: #09dc3e;
}

.skill-section {
    display: flex;
}

.skill-name p {
    font-size: 10px;
}

.skill-section span {
    position: relative;
    left: 277px;
    bottom: 4px;
}

.soft-skills {
    height: 120px;
    margin: 5px 550px 0 550px;
    border-radius: 15px;
    box-shadow: 1px 1px 15px white;
    padding: 10px 20px;
    background: repeating-conic-gradient(#000B18, #00172D, #00264D, #000B18);
}

.soft-skills li {
    margin: 15px;
    font-size: 13.4px;
    font-family: Arial, Helvetica, sans-serif;
}

.soft-skills p {
    text-align: center;
    position: relative;
    top: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.soft-skills hr {
    margin: 15px 30px;
}

.fifth {
    height: 100vh;
}

.fifth h1 {
    padding: 20px 50px;
    text-align: center;
    background-color: rgb(11, 44, 104);
    border-radius: 19px;
}

.fifth .info {
    display: flex;
}

.info .left-text {
    margin: 30px;
    height: 70vh;
    width: 50vw;
    border: 2px solid rgb(156, 151, 151);
    filter: drop-shadow(1px 1px 20px white);
    border-radius: 67px;
    background: linear-gradient(#000B18, #00172D, #00264D, #02386E, #00498D, #0052A2, #000B18);
    color: #ffffff
}

.info .left-text p {
    margin: 105px 60px 0 60px;
    text-align: center;
    font-size: 1rem;
}

.info .right-img {
    margin: 30px;
    height: 70vh;
    width: 50vw;
}

.info .right-img img {
    width: 90%;
    margin-left: 77px;
    margin-bottom: 10px;
}

footer {
    background-color: rgb(9, 9, 59);
    position: sticky;
}

footer .footer-rights {
    text-align: center;
    color: white;
    font-size: 12px;
    padding: 12px 0;
}

@media (max-width:1450px) {
    .first {
        height: 100vh;
    }

    .second {
        height: 100vh;
    }

    .third {
        height: 100vh;
    }

    .fourth {
        height: 100vh;
    }

    .fifth {
        height: 100vh;
    }


    .info .left-text p {
        margin: 30px;
    }

    .skill {
        margin: 30px 100px 30px 30px;
    }

    .soft-skills {
        margin: 30px 100px 30px 30px;
    }

    .box {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        height: 100vh;
        justify-content: space-evenly;
    }

    .box1 {
        margin: 0 10px 0 40px;
        position: relative;
        padding: 7px;
        left: 5%;
        top: 34px;
        height: 38vh;
    }

    .box2 {
        margin: 0 50px;
        position: relative;
        padding: 5px 2px 2px 1px;
        top: 34px;
        left: 3%;
        height: 39vh;
    }

    .box3 {
        margin: 0 12px;
        position: relative;
        padding: 6px;
        top: 34px;
        left: 0;
        height: 38vh;
    }

    .t3-desc {
        margin-left: 5px;
    }

    .container {
        position: absolute;
        width: 50%;
        margin: 0;
        left: 350px;
    }
    .icons{
        display:none;
    }}

@media (max-width:1000px) {
    hr{
        visibility:hidden;
    }

    .skill {
        margin: 100px 0 0 75px;
        width: 78vw;
    }

    .soft-skills {
        margin: 10% 15% 10% 8%;
    }

    .container {
        margin-left:-10%;
    }
    .icons{
        display:none;
    }
    .box {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        height: 100vh;
    }

    .box1 {
        margin: 0 10px 0 40px;
        position: relative;
        padding: 7px;
        left: 0;
        top: 34px;
        height: 35vh;
    }

    .box2 {
        margin: 0 50px;
        position: relative;
        padding: 5px 2px 2px 1px;
        top: 237px;
        left: 0;
        height: 32vh;
    }

    .box3 {
        margin: 0 12px;
        position: relative;
        padding: 7px;
        top: 395px;
        left: 0;
        height: 35vh;
    }

    .t1-desc,
    .t2-desc,
    .t3-desc {
        font-size: 0.7rem;
    }
}

@media (max-width:800px) {
    .nav2 li {
        font-size: 0.75rem;
    }

    .nav2 li a:hover {
        font-size: 0.8rem;
    }

    .info .left-text p {
        font-size: 0.8rem;
        margin: 28px 30px 90px 30px;
    }

    .skill {
        margin: 100px 0 0 75px;
        width: 78vw;
    }

    .soft-skills {
        margin: 5% 15% 0 14%;
    }

    .container {

        position: absolute;
        width: 40vw;

    }
    .form{
        display:flex;
    }
    .form input {
        width: 90%;
    }
    
    .form .btn {
        width: 45%;
    }
    .icons{
        display:none;
    }
    .box {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        height: 100vh;
    }

    .box1 {
        margin: 0 10px;
        position: relative;
        padding: 7px;
        top: 34px;
        left: 0;
        height: 35vh;
    }

    .box2 {
        margin: 0 10px;
        position: relative;
        padding: 5px 2px 2px 1px;
        top: 220px;
        left: 0;
        height: 32vh;
    }

    .box3 {
        margin: 0 12px;
        position: relative;
        padding: 7px;
        top: 360px;
        left: 0;
        height: 35vh;
    }

    .t1-desc,
    .t2-desc,
    .t3-desc {
        font-size: 0.6rem;
    }

    .t2-desc {
        margin-left: 5%;
    }

}

@media (max-width:570px) {
    .nav1 {
        font-size: 0.85rem;
        padding: 0;
        margin-left: 2px;
    }

    .nav2 li {
        font-size: 0.65rem;
        margin: 3px;
    }

    nav ul li a:hover {
        font-size: 0.6rem;
        color: whitesmoke;
    }

    .leftSection .btn {
        padding: 2px;
        font-size: 12px;
    }

    .leftSection .intro-x,
    .passion,
    .purple,
    #element {
        font-size: 1rem;
        margin: 0;
    }


    .first {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .info .left-text {
        width: 100vw;
        height: 50vh;
        margin-left: 50px;
        margin-right: 0px;
        display: flex;
        border-radius: 10px;
    }

    .info .left-text p {
        font-size: 0.65rem;
        position: relative;
        bottom: 62px;
        margin: 80px 5px 0 5px;
    }


    .info .right-img img {
        height: 32vh;
        position: absolute;
        right: 19px;
        top: 400px;
        width: 67vw;
    }

    .leftSection {
        position: absolute;
        width: 100vw;
        left: 0;
        height: 50vh;
        border: 2px solid rgb(2, 2, 57);
        padding: 40px 32px 60px 12px;
    }

    .leftSection .buttons {
        padding-top: 10px;
        display: flex;
    }

    .buttons .btn {
        padding: 3px;
        font-size: 0.9rem;
        margin-right: 8px;
    }

    .rightSection img {
        width: 35vw;
        height: 40vh;
        position: absolute;
        bottom: 130px;
        right: 30px;
        margin-bottom: 0;
    }

    .leftSection .intro-x {
        font-size: 1.5rem;
    }

    .passion {
        font-size: 1.3rem;
    }

    .purple {
        font-size: 2rem;
    }

    #element {
        font-size: 2rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }


    .skill {
        height: 27vh;
        margin: 56px 40px 0 40px;
        padding-bottom: 10px;
    }

    .skill hr {
        display: none;
    }

    .skill-section {
        width: 80%;
    }

    .skill-section .skill-amounthtml {
        width: 40vw;

    }

    .skill-section .skill-amountcss {
        width: 40vw;
    }

    .skill-section .skill-amountjs {
        width: 40vw;
    }

    .skill-section .skill-amount1 {
        background: rgb(24, 2, 88);
    }

    .skill-section span {
        position: sticky;
        right: 1000px;
        font-size: 0.6rem;
        font-weight: bold;
        color: white;
    }

    .soft-skills {
        margin: 17px 80px 25px 40px;
    }

    .box {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        height: 100vh;
    }

    .box1 {
        margin: 0 10px;
        position: relative;
        padding: 7px;
        top: 34px;
        left: 0;
        height: 35vh;
    }

    .box2 {
        margin: 0 10px;
        position: relative;
        padding: 5px 4px 0 1px;
        top: 237px;
        left: 0;
        height: 32vh;
    }

    .box3 {
        margin: 0 12px;
        position: relative;
        padding: 7px;
        top: 395px;
        left: 0;
        height: 35vh;
    }

    .topic1,
    .topic2,
    .topic3 {
        color: crimson;
        padding: 5px;
        font-size: 10px;
        text-align: center;

    }

    .t1-desc,
    .t2-desc,
    .t3-desc {
        font-size: 10px;
        width: 100%;
        position: relative;
        left: 5px;
    }

    .container {
        position: absolute;
        width: 50vw;
        left: 185px;
    }
    .icons{
        display:none;
    }
    .form input {
        display: block;
        width: 94%;
        border-radius: 6px;
        margin-bottom: 5px;
        padding: 4px;
    }

    .form .btn {
        position: relative;
        right: 51px;
        padding: 5px;
        font-size: 10px;
    }

    .p1 {
        font-size: 13px;
    }

    footer .footer-rights {
        position: relative;
        bottom: 0;
    }

}

@media(max-width:480px) {
    .left-section {
        padding: 0;
    }

    .rightSection img {
        margin-top: 0;
    }

    .container {
        width: 60%;
        margin: 0;
        position: absolute;
        left: 20%;
    }

    .form .p1 {
        margin-left: 15%;
    }

    .form input {
        display: block;
        width: 67%;
        border-radius: 6px;
        margin-bottom: 5px;
        margin-left: 14%;
        padding: 4px;
    }

    .soft-skills {
        margin-right: 11%;
    }
    .icons{
        display:none;
    }
    .info .left-text {
        height: 60vh;
    }

}

@media (max-width:360px) {
    .skill {
        width: 78vw;
    }

    .skill-name {
        margin-left: 5%;
    }

    .info .left-text p {
        font-size: 0.5rem;
    }

    .form .p1 {
        margin-left: 22%;
    }

    .form .p2 {
        width: 60%;
        margin-left: 20%;
    }

    .box {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
    }

    .box1,
    .box2,
    .box3 {
        margin: 1px;
    }
    .icons{
        display:none;
    }
}

@media(max-width:290px) {
    .rightSection img {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: column;
    }

    .nav1 {
        align-items: center;
    }

    .nav2 li {
        font-size: 0.6rem;
    }


    .skill-name {
        margin-left: 0;
    }

    .box {
        display: flex;
        justify-content: center;
        width: 80vw;
    }

    .box1 {
        position: relative;
        left: -15%;
    }

    .box2 {
        position: relative;
        left: -15%;
        top: 10%;
    }

    .box3 {
        position: relative;
        left: 70%;
        top: 40%;
        width: auto;
    }

    .t1-desc,
    .t2-desc,
    .t3-desc {
        font-size: 0.5rem;
        margin: 2px;
    }

    .info .left-text p {
        font-size: 0.4rem;
    }

    .container p {
        font-size: 0.9rem;
    }

    .form input {
        width: 85%;
        margin: 0;
    }

    .form .btn {
        width: 50%;
        margin-left: 58%;
    }
}